@import url('https://unpkg.com/chota@latest');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,600,0,0'); /* https://fonts.google.com/icons */

:root {
  --theme-color-white: hsl(0 0 100);
  --theme-color-black: hsl(0 0 0);
  --theme-color-red: hsl(0 75 30);
  --theme-color-green: hsl(130 30 30);
  --theme-color-light-green: hsl(130 30 45);
  --theme-color-gold: hsl(45 95 60);
  --theme-color-purple: hsl(248 31 20);

  --bg-color: var(--theme-color-green);
  --bg-secondary-color: var(--theme-color-light-green);

  --color-lightGrey: hsl(45 15% 85%); /* button background */
  --color-grey: hsl(45 15% 50%);
  --color-darkGrey: hsl(45 15% 25%); /* button text */

  --color-primary: hsl(120 75% 30%);
  --color-error: hsl(0 65% 50%);
  --color-success: hsl(120 80% 40%);

  --font-color: var(--theme-color-white);

  --font-family-sans: "Roboto", sans-serif;
  --font-family-mono: "Roboto Mono", monaco, "Consolas", "Lucida Console", monospace;
}

.purple {
  background-color: #2E294E;
}

.red {
  background-color: #A31621;
}

.green {
  background-color: #386641;
}

.die {
  font-size: xx-large;
}
