:root {
  --bg-color: hsl(210 50% 15%);
  --bg-secondary-color: hsl(210 50% 25%);

  --color-lightGrey: hsl(0 0% 90%); /* button background */
  --color-grey: hsl(0 0% 80%);
  --color-darkGrey: hsl(0 0% 40%); /* button text */

  --color-primary: hsl(120 75% 30%);
  --color-error: hsl(0 65% 50%);
  --color-success: hsl(120 80% 40%);

  --font-color: hsl(0 0% 95%);
}
